.pokeBody{
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
}

.pokeRow{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.pokeCol{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.pokeCardB{
    width:  250px;
    height: 300px;
    display: flex;
    align-items: baseline;
    border-radius: 30px;
    background-color: #DFFCF8;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.pokeCardR{
    width:  250px;
    height: 300px;
    display: flex;
    align-items: baseline;
    border-radius: 30px;
    background-color: #FFDBDB;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.pokeCardG{
    width:  250px;
    height: 300px;
    display: flex;
    align-items: baseline;
    border-radius: 30px;
    background-color: #E1FCDA;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.poke_bg{
    height: 100px;
    width: 100px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: rgb(227,236,230);
    align-items: center;
    justify-content: center;
    display: flex;
}
.poke_name{
    font-size: 30px;
}

.poke_data{
    flex-direction: column;
    height: 100px;
    display: flex;
    align-items: center;
    gap: 10px; 
}

.poke_type{
    color: gray;
}

.poke_bg img{
    width: 100%;
    z-index: 4;
}

.magiImg{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/129.png");
    background-size: 150px 150px;
    display: block;
    width: 150px;
    height: 150px;
    align-self: center;
    border-radius: 10px;
}

.pokeCardB:hover .magiImg{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/129.png");
    background-size: 150px 150px;
    display: block;
    width: 150px;
    height: 150px;
    align-self: center;
    border-radius: 10px;
}

.chariImg{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/6.png");
    background-size: 150px 150px;
    display: block;
    width: 150px;
    height: 150px;
    align-self: center;
    border-radius: 10px;
}

.pokeCardR:hover .chariImg{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/6.png");
    background-size: 150px 150px;
    display: block;
    width: 150px;
    height: 150px;
    align-self: center;
    border-radius: 10px;
}

.rayImg{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/384.png");
    background-size: 150px 150px;
    display: block;
    width: 150px;
    height: 150px;
    align-self: center;
    border-radius: 10px;
}

.pokeCardR:hover .rayImg{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/384.png");
    background-size: 150px 150px;
    display: block;
    width: 150px;
    height: 150px;
    align-self: center;
    border-radius: 10px;
}

.enbImg{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/500.png");
    background-size: 150px 150px;
    display: block;
    width: 150px;
    height: 150px;
    align-self: center;
    border-radius: 10px;
}

.pokeCardR:hover .enbImg{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/500.png");
    background-size: 150px 150px;
    display: block;
    width: 150px;
    height: 150px;
    align-self: center;
    border-radius: 10px;
}



.heraImg{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/214.png");
    background-size: 150px 150px;
    display: block;
    width: 150px;
    height: 150px;
    align-self: center;
    border-radius: 10px;
}

.pokeCardG:hover .heraImg{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/214.png");
    background-size: 150px 150px;
    display: block;
    width: 150px;
    height: 150px;
    align-self: center;
    border-radius: 10px;
}

.scImg{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/212.png");
    background-size: 150px 150px;
    display: block;
    width: 150px;
    height: 150px;
    align-self: center;
    border-radius: 10px;
}

.pokeCardG:hover .scImg{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/212.png");
    background-size: 150px 150px;
    display: block;
    width: 150px;
    height: 150px;
    align-self: center;
    border-radius: 10px;
}

.espeImg{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/196.png");
    background-size: 150px 150px;
    display: block;
    width: 150px;
    height: 150px;
    align-self: center;
    border-radius: 10px;
}

.pokeCardG:hover .espeImg{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/196.png");
    background-size: 150px 150px;
    display: block;
    width: 150px;
    height: 150px;
    align-self: center;
    border-radius: 10px;
}

.sudoImg{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/185.png");
    background-size: 150px 150px;
    display: block;
    width: 150px;
    height: 150px;
    align-self: center;
    border-radius: 10px;
}

.pokeCardG:hover .sudoImg{
    background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/185.png");
    background-size: 150px 150px;
    display: block;
    width: 150px;
    height: 150px;
    align-self: center;
    border-radius: 10px;
}