/* CSS DE NETFLIX */
.bodyNetflix{
    background-color: black;
    font-family: "Boboto", sans-serif;
    color: gray;
    text-align: center;
    align-items: center;
    
}

.logoNet{
    
    background-image: url("https://storage.googleapis.com/www-paredro-com/uploads/2016/06/logo_netflix_antes.jpg");
    background-size: 100px 100px;
    display: block;
    width: 95px;
    height: 75px;
    margin-top: 0 auto;
    margin-bottom: 0 auto;  
}
/*SE CARGAN LAS IMAGENES PARA CADA USR*/
.imgMiguel{
    background-image: url("https://occ-0-4561-116.1.nflxso.net/dnm/api/v6/K6hjPJd6cR6FpVELC5Pd6ovHRSk/AAAABeEAcPZi6PjGs2nulcaolSHUKFnU6df77uaEQcDnULWbpaSa4ciX_ULtwiibSQ26pZ060ZgBEbiGfZIuzJXXaTpoZZKD.png?r=2de");
    background-size: 200px 200px;
    display: block;
    width: 200px;
    height: 200px;
    margin: 20px;
}

.imgNi{
    background-image: url("https://occ-0-4561-116.1.nflxso.net/dnm/api/v6/K6hjPJd6cR6FpVELC5Pd6ovHRSk/AAAABT-xjqb6poxm0FcTELfF4rQAUV-mhCsx-Scbq6sXAX0T2p0XtqKyIab0YMydt9Hm-Mz7EE67R3MaACwJTXTryclLiGB_.png?r=8ec");
    background-size: 200px 200px;
    display: block;
    width: 200px;
    height: 200px;
    margin: 20px;
}

.imgMT{
    background-image: url("https://occ-0-4561-116.1.nflxso.net/dnm/api/v6/K6hjPJd6cR6FpVELC5Pd6ovHRSk/AAAABfceDl8kk7pkKXVsKsP10U3IfZkQD-OlHuGoxc5scmVz8Pzh2W8mTB6fpGdMtE-2AtLmNLT0e9JlF6zT5KMzYBFYo2F7.png?r=870");
    background-size: 200px 200px;
    display: block;
    width: 200px;
    height: 200px;
    margin: 20px;
}

.imgM{
    background-image: url("https://occ-0-4561-116.1.nflxso.net/dnm/api/v6/K6hjPJd6cR6FpVELC5Pd6ovHRSk/AAAABeoiFWtkpT2ezo-zFFoj5VDcvij4ZYSLnUqgWObtKbMG85CvH7yu27n7WgP0LVu3el_Vj3hw1L-eAwDVXYm_m8iJFWo1.png?r=f08");
    background-size: 200px 200px;
    display: block;
    width: 200px;
    height: 200px;
    margin: 20px;
}

.imgD{
    background-image: url("https://occ-0-4561-116.1.nflxso.net/dnm/api/v6/K6hjPJd6cR6FpVELC5Pd6ovHRSk/AAAABfzF0jDEyIDMIDllHkqhvicWlZC7P8rzWjtfRGasxpJ_44a-snOxTjfnfsMIkrxhTLsSOtEj-NPwaEbxRnw2cuRU6bZi.png?r=071");
    background-size: 200px 200px;
    display: block;
    width: 200px;
    height: 200px;
    margin: 20px;
    align-items: center;
}

h1{
    color: white;
    text-align: center;
    display: flex;
    font-size:40px;
}

.profile_flex{
    display: flex;
    height: 150px;
    
}

a{
    text-decoration: none;
}

.adminPro{
    text-decoration: none;
    color: gray;
}

.adminP{
    border: solid gray;
    padding: 0px 40px;
    display: flex;
    align-self:center;
    margin: 200px; 
}

a:hover{
    color: white;
}

.adminP:hover {
    border: solid white;
}

.profile_img:hover  {
    color: white;
    
}

.imgM:hover, .imgMiguel:hover, .imgD:hover, .imgMT:hover, .imgNi:hover{
    border: solid white;
}

.sectionRow{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    gap: 20px;
}

/*CSS GOOGLE*/

.bodyCss{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.navBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 20px
}
.appGoo{
    background-image: url("https://cdn-icons-png.flaticon.com/512/566/566001.png");
    background-size: 14px 14px;
    display: block;
    width: 14px;
    height: 14px;
    margin: 0px;   
}

.usrImg{
        background-image: url("https://lh3.googleusercontent.com/ogw/ADea4I6OROTrITcuA62D8Du-Gt-sXc6gBzty0H8HooeK=s32-c-mo");
        background-size: 25px 25px;
        display: block;
        width: 25px;
        height: 25px;
        margin: 0px;   
        border-radius: 50%;
}

.gmailBtn, .imgBtn{
    color: black;
}

.gmailBtn:hover, .imgBtn:hover, .linkEng:hover{
    text-decoration-line: underline;
    color: black;
}

.logoGoo{
        background-image: url("https://www.google.com.mx/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png");
        background-size: 272px 92px;
        display: block;
        width: 272px;
        height: 92px;
        margin: 0px;        
}

.flexColSear{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.flexColFoo{
    margin: 0%;
    display: flex;
    flex-direction: column;
    background-color: #f8f8f8;
    column-gap: 30px;
    margin-top: 300px;
}

.flexRow{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.flexCenter{
    display: flex;
    justify-content: center;
    margin-top: 250px;
}

.flexRight{
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
}

.flexLeft{
    display: flex;
    justify-content:flex-end;
    align-content: flex-end;
    
}

.flexRowFoo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.btnSearch{
    
    margin: 5px;
    padding: 10px 15px;
    background-color: #f8f8f8;
    outline: none;
    border: none;
    cursor: pointer;
}

.linkEng{
    color: blue;
}

.flexRight a, .flexLeft a, .flexColFoo div p{
    color: gray;
}

.flexRight:hover a, .flexLeft a:hover{
    background-color: #f8f8f8;
    color: gray;
    text-decoration-line: underline;
}

.barSear{
    width: 525px;
    border-radius: 100px;
    border: 1px solid #dfe1e5;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.barSear input{
    width: 460px;
    height: 40px;
    border: none;
    outline: none;
}
.barSear .iconFind{
    background-image: url("https://img.icons8.com/material-two-tone/24/000000/search.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 18px;
    height: 18px;
}

.barSear .iconVoi{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/716px-Google_mic.svg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 18px;
    height: 18px;
}

/*NFT*/
hr{
    border-bottom: 0px solid #00FFF7;
}
.nftBody{
    background-color: #0D192B;
    display: flex;
    flex-direction: column;
    font-family: 'Outfit', sans-serif;
    font-size: 18px;    
}

.nftBody a, .maginCard p{
    color: white;
}

.cardNft{
    background-color: #14253D;
    align-items: center;
    align-self: center;
    margin-top: 100px;
    padding: 20px 20px;
    border-radius: 10px;
    
}
.marginCard{
    padding: 20px 20px;
    align-items: center;
    
}

.nftFlexRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.ethIco{
    background: url("./images/icon-ethereum.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 20px;
    height: 20px;
    display: block;
}

.timeIco{
    display: flex;
    background: url("./images/icon-clock.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 20px;
    height: 20px;
    display: block;
}

.nftImg{
    background-image: url("./images/image-equilibrium.jpg");
    background-size: 430px 430px;
    display: block;
    width: 430px;
    height: 430px;
    align-self: center;
    border-radius: 10px;
}

.creaNft{
    background-image: url("./images/image-avatar.png");
    background-size: 45px 45px;
    display: block;
    width: 45px;
    height: 45px;
    border: solid 3px;
    border-radius: 100%;
    margin-right: 20px;
}

.flexRowNft{
    
    display: flex;
    flex-direction: row;
    align-items: center;
}

.maginCard div p, .maginCard div div p, .maginCard div span {
    color: #8BACDA;
}

.ethColor{
    color: #00FFF7;
    font-size: 18px;
}

/*Cartas Poke*/

.pokeBody{
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
}



.pokeRow{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.pokeCol{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.pokeCard{
    width:  200px;
    height: 200px;
    display: flex;
    align-items: baseline;
    border-radius: 30px;
    background-color: rgb(220,220,220);
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.poke_bg{
    height: 100px;
    width: 100px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: rgb(227,236,230);
    align-items: center;
    justify-content: center;
    display: flex;
}
.poke_name{
    font-size: 30px;
}

.poke_data{
    flex-direction: column;
    height: 100px;
    display: flex;
    align-items: center;
    gap: 10px; 
}

.poke_type{
    color: gray;
}

.poke_bg img{
    width: 100%;
    z-index: 4;
}

/*CSS INDEX*/